body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

h6,h5,h4,h3,h2,h1, li {
  color: white;
}

.title {
  text-align: center;
}

.backgroundImage {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  border-radius: 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

.city-image {
  width: 100px;
  height: 100px;
}

#searchBox {
  width: 30rem;
  padding-top: 20px;
  margin-left: -20px;
}


/* Current Weather Components: container, text box */
.todayBox {
  align-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

}

.todayBoxText {
  align-content: center;
  padding: 50px;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  cursor: pointer;

}



/* SevenDay Forecast Components: wrapper, grid boxes */
.wrapper-sevenDay {
  display:grid;
  grid-template-rows: repeat(1, 250px);
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.daily {
  justify-content: center;
  align-self: center; 
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: dodgerblue;
  line-height: 1.5;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}



/* Hourly Box Components: container, wrapper, grid boxes */
/* Standard CSS Grid doesn't work with scrollbar package */
.hourlyBox {
  display: flex; 
}

.wrapper-hourly {
  margin: 20px;
  background-color: dodgerblue;
  border-radius: 0px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}


.hourly {
  height: 150px;
  width: 100px;
  justify-content: center;
  align-self: center; 
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 1.5;
  cursor: pointer;
}

/* //SearchList button*/
.searchListBtn {
  width: 240px;
  align-self: center; 
  padding: 5px;
  margin: 5px;
  margin-left: -20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: dodgerblue;
  border-color: white;
  border-width: 1px;
  line-height: 1.5;
  cursor: pointer;
  transition: all .3s ease;
}



