body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/10ab2cbc-233f-4080-8b4b-ffacb28eefd4/d65ml6b-fb82ca54-087c-4609-bce2-a5c31c9f069f.png/v1/fill/w_1024,h_724,q_80,strp/cloudy_background__3_by_demonkitty15_d65ml6b-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MjQiLCJwYXRoIjoiXC9mXC8xMGFiMmNiYy0yMzNmLTQwODAtOGI0Yi1mZmFjYjI4ZWVmZDRcL2Q2NW1sNmItZmI4MmNhNTQtMDg3Yy00NjA5LWJjZTItYTVjMzFjOWYwNjlmLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.XERgM6DWkOx_D6GL4N0I4W8qsbfFwEMR1wwetq6aEeQ");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
}

h6,h5,h4,h3,h2,h1, li {
  color: white;
}

.title {
  text-align: center;
}



/* Current Weather Components: container, text box */
.todayBox {
  align-content: center;
  padding: 10px;
  cursor: pointer;

}

.todayBoxText {
  width: 75%; 
  border-radius: 5px;
  background-color: dodgerblue;
  opacity: 0.8;
  align-content: center;
  padding: 50px;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  cursor: pointer;

}



/* SevenDay Forecast Components: wrapper, grid boxes */
.wrapper-sevenDay {
  display:grid;
  grid-template-rows: repeat(1, 250px);
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: -5px;
  margin-top: -10px;
  /* overflow-x:scroll; */
}

.daily {
  justify-content: center;
  align-self: center; 
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: dodgerblue;
  opacity: 0.8;
  line-height: 1.5;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 5px;
 
}



/* Hourly Box Components: container, wrapper, grid boxes */
/* Standard CSS Grid doesn't work with scrollbar package */
.hourlyBox {
  display: flex; 
}

.wrapper-hourly {
  margin: 10px;
  background-color: dodgerblue;
  opacity: 0.8;
  border-radius: 5px;

}

.hourly {
  height: 150px;
  width: 100px;
  justify-content: center;
  align-self: center; 
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 1.5;
  cursor: pointer;
}

/* //Search box & List of buttons*/
#searchBox {
  width: 30rem;
  padding-top: 20px;
  margin-left: 850px;
  
}
.searchListBtn {
  width: 240px;
  align-self: center; 
  padding: 5px;
  margin: 5px;
  margin-left: -20px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: dodgerblue;
  opacity: 0.8;
  border-radius: 5px;
  line-height: 1.5;
  cursor: pointer;
  transition: all .3s ease;
}



